
*{box-sizing: border-box;}


body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	
}

.wrapper{
	
	background: url('../images/jaguar-xe.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 60px;


}

#conteiner{
	background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	border-radius: 6px;
	color: white;
	padding: 8px;
	max-width: 600px;

}

input{
	border-radius: 3px;
	width: 150px;
	font-size: 18px;
	line-height: 3;
	margin: 8px;
	color: white;
	border: 0px solid;
	background-color: #FF5722;
	
}
@media(min-width:782px){
	input{background-color: #DB3030}

}